<h1>Editing Maintenance Request</h1>

<%= render 'form', maintenance_request: @maintenance_request %>

<%= link_to 'Show', [@property, @maintenance_request] %> |
<%= link_to 'Back', property_maintenance_requests_path(@property) %>
