<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_property_maintenance_request_path(@property, @maintenance_request) %> |
<%= link_to 'Back', property_maintenance_requests_path(@property) %>
